@import "tailwindcss";

@font-face {
  font-family: nature-med;
  src: url("/src/fonts/ZTNature-Medium.ttf");
}

@font-face {
  font-family: nature-thin;
  src: url("/src/fonts/ZTNature-Thin.ttf");
}

@font-face {
  font-family: nature-bold;
  src: url("/src/fonts/ZTNature-Black.ttf");
}

@font-face {
  font-family: hindi;
  src: url(/src/fonts/DevLys\ 350\ Wide\ Normal.ttf);
}

* {
  font-family: nature-med;
}

.logo {
  font-family: hindi;
}
